<div class="panel panel-default" style="padding: 10px">
    <div class="panel-body">
        <div class="row">
      <p><u>Welcome Song </u>(with actions) </p>
          <p>All children sit in a circle. Child thinks of an action to
            do, e.g clap hands. Everyone sings 'let's clap our hands
            for____(childs name), let's clap our hands for_____(next
            child in the circle). Let's clap our hands for____,(next
            child in the circle) you're welcome here today'. Song
            finishes when everyone has been welcomed. Other actions
            may be:stamping feet,tapping knees,nodding head e.t.c. <br>
            Contributed By: Karen Stainton</p>
        <iframe width="460" height="315" src="https://www.youtube.com/embed/3ywIu30lqKA" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
</div>